<!DOCTYPE html>
<html>
<head>
    @*<link rel="stylesheet" href="~/dist/bootstrap.css" />*@

    <environment include="Development">
        @*  <link rel="stylesheet" href="~/lib/css/bootstrap.css" />*@
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="~/lib/css/bootstrap.min.css" />*@
    </environment>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScrumMaker</title>
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="assets/css/bootstrap-select.css" asp-append-version="true" />
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" asp-append-version="true" />


    <environment exclude="Development">
        z
    </environment>
</head>
<body>
    @RenderBody()
    @*<script src="~/assets/js/jquery.min.js"></script>
        <script src="~assets/js/jquery.scrolly.min.js"></script>
        <script src="~assets/js/jquery.poptrox.min.js"></script>
        <script src="~assets/js/skel.min.js"></script>
        <script src="~assets/js/util.js"></script>
        <script src="~assets/js/main.js"></script>*@
    
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
    <environment include="Development">
        @*<script src="~/lib/js/jquery-3.3.1.js"></script>
            <script src="~/lib/js/bootstrap.bundle.js"></script>*@
    </environment>
    <environment exclude="Development">
    </environment>
</body>
</html>
