<!DOCTYPE html>
<html style="background-color: rgb(235, 235, 235)">
<head>
    @*<link rel="stylesheet" href="~/dist/bootstrap.css" />*@

    @*<environment include="Development">
              <link rel="stylesheet" href="~/lib/css/bootstrap.css" />
        </environment>*@
    @*<environment exclude="Development">
            <link rel="stylesheet" href="~/lib/css/bootstrap.min.css" />
        </environment>*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScrumMaker</title>
    <link rel="stylesheet" href="~/assets/css/backlog.css" />
    <link rel="stylesheet" href="~/assets/css/Buttons.css" />
    <link rel="stylesheet" href="~/assets/css/calendar.css" />
    <link rel="stylesheet" href="~/assets/css/chat.css" />
    <link rel="stylesheet" href="~/assets/css/editPage.css" />
    <link rel="stylesheet" href="~/assets/css/editUser.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/GridTable.css" />
    <link rel="stylesheet" href="~/assets/css/login.css" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/assets/css/modalWindow.css" />
    <link rel="stylesheet" href="~/assets/css/multiselect.css" />
    <link rel="stylesheet" href="~/assets/css/navMenu.css" />
    <link rel="stylesheet" href="~/assets/css/poker.css" />
    <link rel="stylesheet" href="~/assets/css/SelectStyle.css" />
    <link rel="stylesheet" href="~/assets/css/site.css" />
    <link rel="stylesheet" href="~/assets/css/layoutStyle.css" />
    <link rel="stylesheet" href="~/assets/css/switchImg.css" />
    <link rel="stylesheet" href="~/assets/css/Tooltips.css" />
    <link rel="stylesheet" href="~/assets/css/TreeSubMenu.css" />
    <link rel="stylesheet" href="~/assets/css/editPage.css" />
    @*<link rel="stylesheet" href="~/dist/site.css" />*@
    <link rel="stylesheet" href="~/dist/vendor.css" />
    <base href="~/" />

    @*<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />*@

    <environment exclude="Development">
    </environment>
</head>
<body style="background-color: rgb(235, 235, 235)">
    @RenderBody()
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
    <environment include="Development">
        @*<script src="~/lib/js/jquery-3.3.1.js"></script>
            <script src="~/lib/js/bootstrap.bundle.js"></script>*@
    </environment>
    <environment exclude="Development">
    </environment>
</body>
</html>
