.selectEvent{
    margin-top: 2%;
    margin-right: 30%;
    float: right;
}
.selectEventButton {
    margin-top: 4%;
    margin-right: 35%;
    float: right;
}
.selectLabel{
    margin-top: 2%;
    margin-right: 40%;
    text-align: center;
    height: 10px;
    width: 100px;
    float: right;
    color: snow;
}

.text-calendar-box-color {
    margin-top: 2%;
    color: aliceblue;
}

.left-text-calendar-box {
    margin-top: 2%;
    margin-right: 2%;
    width: 49%;
    height: 217px;
    background: #232526;
    background: -webkit-linear-gradient(to right, #232526, #414345);
    background: linear-gradient(to right, #232526, #414345);
    float: left;
    overflow: auto;
}

.rigth-text-calendar-box {
    margin-top: 2%;
    width: 49%;
    height: 217px;
    background: #232526;
    background: -webkit-linear-gradient(to right, #232526, #414345);
    background: linear-gradient(to right, #232526, #414345);
    float: left;
}

.react-calendar__month-view__weekdays__weekday {
    margin-left: 6.5%;
}

.react-calendar__navigation {
    margin-top: 1%;
    background: #232526;
    background: -webkit-linear-gradient(to right, #232526, #414345);
    background: linear-gradient(to right, #232526, #414345);
}

.react-calendar__month-view__weekdays {
    height: 20px;
    color: snow;
    background: #232526;
    background: -webkit-linear-gradient(to right, #232526, #414345);
    background: linear-gradient(to right, #232526, #414345);
}

.react-calendar__month-view__days {
    margin-top: 2%;
    background: #232526;
    background: -webkit-linear-gradient(to right, #232526, #414345);
    background: linear-gradient(to right, #232526, #414345);
}

.react-calendar__century-view__decades {
    margin-top: 2%;
    background: #232526;
    background: -webkit-linear-gradient(to right, #232526, #414345);
    background: linear-gradient(to right, #232526, #414345);
}

.react-calendar__decade-view {
    margin-top: 2%;
    background: #232526;
    background: -webkit-linear-gradient(to right, #232526, #414345);
    background: linear-gradient(to right, #232526, #414345);
}

.react-calendar__year-view__months {
    height: 498px;
    font-size: 30px;
}

.react-calendar__year-view {
    margin-top: 2%;
    background: #232526;
    background: -webkit-linear-gradient(to right, #232526, #414345);
    background: linear-gradient(to right, #232526, #414345);
}
.react-calendar__month-view__days :hover {
    background-color: gray;
}

.react-calendar__month-view__days :focus {
    background-color: cornflowerblue;
}
