.chatWindow{
    margin-top: 20px;
    width: 100%;
    
}

.chatOutput{
    width: 100%;
    resize: none;
    overflow: auto;
    box-lines: 20;
}

.chatInputBlock{
    width: 100%;
}

.chatInput{
    margin-top: 10px;
    width: 100%;
    height: 5em;
    overflow: auto;
    resize: none;
}

hr {
    border: 0;
    clear:both;
    width: 100%;               
    background-color:rgb(82, 82, 82);
    height: 2px;
  }