#listitem {
    position: absolute;
    width: 200px;
}

.task-name {
    width: 200px;
    min-height: 40px;
    height: auto;
}

#desc-of-task {
    margin-left: 55%;
}

.tab-menu-story {
    margin-right: 100px;
}

.tab-story {
    width: 180px;
    min-height: 40px;
    height: auto;
    font-family: 'Times New Roman';
    font: 20px;
    border-radius: 7px;
}

.tab-menu {
    width: 50%;
    height: 50px;
}

#tab-menu-div {
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 27px;
}

#tab-task {
    position: absolute;
    margin-left: 170px;
    margin-top: 7px;
    font-family: 'Times New Roman';
    text-align: initial;
    height: auto;
    width: 250px;
}

.tab-sub-task {
    position: absolute;
    margin-left: 200px;
    margin-top: 7px;
    font-family: 'Times New Roman';
    text-align: initial;
    height: auto;
    width: 250px;
}

.tab-task-descrip {
    position: absolute;
    margin-left: 518px;
    margin-top: 7px;
    font-family: 'Times New Roman';
    text-align: initial;
    height: auto;
    width: 250px;
}

.tab-task-descrip-sprint {
    position: absolute;
    margin-left: 250px;
    margin-top: 7px;
    font-family: 'Times New Roman';
    text-align: initial;
    height: auto;
    width: 250px;
}

.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}

.div-header-tabs {
    font-family: 'Times New Roman';
    margin-left: 20px;
    font-size: 20px;
}

.div-header-tabs-tasks {
    font-family: 'Times New Roman';
    margin-left: 150px;
    font-size: 20px;
}

.div-header-tabs-desc {
    font-family: 'Times New Roman';
    margin-left: 255px;
    font-size: 20px;
}

.tabs-left > li, .tabs-right > li {
    float: none;
    margin-bottom: 2px;
}

.tabs-left > li {
    margin-right: 5px;
}

.tabs-right > li {
    margin-left: -1px;
}

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-right > li.active > a,
.tabs-right > li.active > a:hover,
.tabs-right > li.active > a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent;
}

.tabs-left > li > a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block;
}

.tabs-right > li > a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}
