.hStyle {
    margin: 10px;
    padding: 5px;
    color: green;
}

.spanStyle {
    font-family: 'Times New Roman';
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin: 10px;
    padding: 5px;
    color: green;
}

.editHead {
    text-align: center;
    margin-bottom: 20px;
}

.editWindow {
    text-align: left;
    margin-top: 10px;
    padding: 5px;
}

.areaStyle {
    width: 100%;
    padding: 7px;
    font-size: 18px;
    resize: none;
    overflow: auto;
    height: 12em;
}

.sprintMainBlock {
    vertical-align: top;
    width: 40%;
}

.sprintHistoryBlock {
    vertical-align: top;
    width: 60%;
}

.taskMainBlock {
    vertical-align: top;
    width: 40%;
}

.taskTimeBlock {
    vertical-align: top;
    width: 60%;
}

.h2EditCreatePage {
    margin: 10px;
    padding: 5px;
}
