<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      >
  <extensions>
    <add assembly="NLog.MailKit"/>
  </extensions>
  
  <variable name="appName" value="ScrumMaker" />
  <targets>
    <target xsi:type="File"
            name="file"            
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${specialfolder:ApplicationData}\${appName}\ScrumMakerLog.log"
            keepFileOpen="false"
            archiveFileName="${specialfolder:ApplicationData}\${appName}\Debug_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            />
    <target name="gmail" xsi:type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="1scrummaker@gmail.com"
            smtpPassword="lv-325-.NET"
            enableSsl="false"
            from="1scrummaker@gmail.com"
            to="scrummaker325@gmail.com"
            cc="scrummaker325@gmail.com"
            subject ="Scrumaker.Logger"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            />
  </targets>
  <rules>
    <logger name="*" writeTo="file" minlevel="Info" />
    <logger name="*" writeTo="gmail" minlevel="Error" />
  </rules>
</nlog>